.pagination {
    margin: 30px 0;
    display: flex;
    gap: 5px; /* مسافة بين الأزرار */
}

.page-item {
    list-style: none;
}

.page-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #eb315a; /* لون النص */
    background-color: transparent;
    border: 2px solid #eb315a;
    border-radius: 50% !important; /* زوايا دائرية */
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-decoration: none;
}

    /* تأثيرات عند التحويم */
    .page-link:hover {
        background-color: rgba(255, 44, 79, 0.1);
        color: #eb315a;
        transform: translateY(-2px);
    }

/* العنصر النشط */
.page-item.active .page-link {
    background-color: #eb315a;
    color: white;
    border-color: #eb315a;
    box-shadow: 0 4px 8px rgba(255, 44, 79, 0.3);
}

/* تنسيق عام للإطار */
.single-portfolio {
    width: 100%; /* يتكيف مع حجم العمود الأب */
    max-width: 250px; /* أقصى عرض ثابت */
    height: 550px; /* ارتفاع ثابت */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
}

/* تنسيق قسم الصورة */
.single-portfolio-img {
    height: 400px; /* ارتفاع ثابت للصورة */
    overflow: hidden;
    position: relative;
}

    .single-portfolio-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* تغطية المساحة دون تشويه */
        transition: transform 0.3s; /* تأثير حركي عند التحويم */
    }

    .single-portfolio-img:hover img {
        transform: scale(1.05); /* تكبير الصورة عند التحويم */
    }

.portfolio-content {
    padding: 15px;
    flex-grow: 1; /* لملء المساحة المتبقية */
    display: flex;
    flex-direction: column;
}

.title {
    word-wrap: break-word;
    /*font-size: 20px;*/
}

.portfolio-content a:hover .title {
    color: #eb315a;
    transition: color 0.3s ease;
    word-wrap: break-word;
}

.theme-btnnn {
    background: #eb315a;
    border: 1px solid #eb315a;
    color: #fff;
    border-radius: 35px;
    padding: 8px 20px; /* زيادة الـ padding للتوازن */
    display: inline-block;
    font-size: 20px; /* حجم خط أصغر قليلاً */
    cursor: pointer;
    font-weight: 500;
    text-align: center; /* توسيط النص */
    min-width: 120px; /* عرض أدنى للزر */
    transition: all 0.3s ease; /* تأثير سلس */
    text-decoration: none; /* إزالة التسطير إذا كان رابطًا */
    margin-top: 10px; /* مسافة من العناصر الأعلى */
}

    .theme-btnnn:hover {
        color: #eb315a !important;
        background: #13151f !important;
        background-color: transparent;
        border: 1px solid #eb315a;
    }