body {
    background-color: #121212;
    font-family: 'Playfair Display', serif;
    color: #fff;
    margin: 0px;
}

.bg-blur {
    background: rgba(33, 33, 33, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

.form-control,
.form-select {
    background-color: rgba(55, 55, 55, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.form-control:focus {
    background-color: rgba(75, 75, 75, 0.95);
    color: #fff;
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.btn-primary {
    background-color: #dc3545;
    border: none;
}

.btn-primary:hover {
    background-color: #c82333;
}

.google-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.google-btn:hover {
    background-color: white;
    color: black;
}

img.google-icon {
    width: 20px;
    height: 20px;
}

.text-muted {
    color: #aaa !important;
}

.text-muted:hover {
    color: #dc3545 !important;
    text-decoration: none;
}

.text-danger {
    color: #dc3545 !important;
}